body {
	
	
	background-image: url("../images/board.jpg"); 
	background-size: cover;

}

h1 {

	font-size: 120px;
	color: lavender;
	text-align: center;
	margin-bottom: 5px;
}

p {
	color: yellow;
	font-size: : 36px;
	text-align: center;
	margin-top: 5px;
}

h3 {
	
	font-size: 25px;
	color: mistyrose; 
}

body {

	font-size: 18px;
	color: lightskyblue;
	
}

section {
	margin-left: 20%;
}

input[type="submit"]{
	border: 0;
	background: honeydew;
	color: black;
	padding: 20px 25px;
	cursor: pointer;
}

div[id="counter"]{
	text-align: center;
	color: yellow;
	font-size: 20px;
}
